<body>
    <script>history.pushState({}, null, '/');</script>
    <%- include("./header.ejs") %>
    <div class="backdrop">
        <div class="content">
                <h1 >error</h1>
                <p><%=err%></p>
                <a href=<%=currentUrl%>>exit</a>
            </div>
        </div>
</body>