
<body>
    <main>
        <%- include("./header.ejs") %>
        <%if(!locals.username){%>
          <%- include("./login.ejs") %>
        <%}else{%>
          <p>hello <%=name%></p>
        <%}%>
      </main>
</body>