<body>
    <div class="backdrop">
        <div class="content">
                <h1 >Login</h1>
                <form >
                    <label>Email:</label>
                    <input type="email">
                    <label>Password:</label>
                    <input type="password">
                    <button>LOGIN</button>
                    <a >signup</a>
                </form>
               
            </div>
        </div>
</body>