<body>
    <%- include("./header.ejs") %>
    <div class="backdrop">
        <div class="content bigger">
                <h1 >signup</h1>
                <form action="/signup" method="post">
                    <label>Email:</label>
                    <input name="email" type="email" required>
                    <label>Password:</label>
                    <input name="password" type="password" required>
                    <label>username:</label>
                    <input name="username" required>
                    <label>income:</label>
                    <input  type="number" name="income" required>
                    <label>mounthly Savings:</label>
                    <input type="number" name="mounthlySavings">
                    <button  type="submit">SIGNUP</button>
                 
                </form>
            </div>
        </div>
</body>