/* Base Styles */
html{
    @if 1.3vw<1.2vh{
        font-size: 1.3vw;
    }
    @else{
        font-size: 1.3vh;
    }
   
}
body{
    font-family: 'Bebas Neue', sans-serif;
    margin: 0px;
    -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  
  
}
/* Paragraph Styles */
pre{
    font-family: 'Bebas Neue', sans-serif;
}
#hello-user{
    font-size: 1.2rem;
}
/*Item Style*/
.item>h1{
    background-color: #955ff88c;
    font-size: 1.7rem;
    margin: 25px;
}
.item.savings>h1{
    background-color: #c5f85f88;
}
.item.left>h1{
    background-color: #f8b65f88;
}
.item.transpotation>h1{
    background-color: #9cf85f88;
}
.item.subscriptons>h1{
    background-color: #ff7e7e88;
}
.item.contribution>h1{
    background-color: #ff9eef88;
}
.item.income>h1{
    background-color: #f8e15f81;
}
.item>p{
    font-size: 1.5rem;
}
div.item{
    display: inline-block;
    text-transform: uppercase;
    color: #555;
    background-color: white;
    border: 2px solid #929292;
    border-radius:25%;
    margin: 10px 10px;
    padding: 10px;
    height: 14rem;
    width: 20rem;
}
#itemContainer>*>*>input{
    font-size: 1rem;
    width: 20rem;
    padding: 0px;
}
/* Containers Styles */
main{
    display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
header{
    margin: 0px;
    padding: 0.5rem;
    background-color: #e879b1bd;
    display: block;
    
}
header>h1{
    
    font-size: 2rem;
}
.content>form{
    padding: 0px;
    margin: 0px;
}
.backdrop{
    width: 100%;
    height: 100%;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
}
#itemContainer{
    display: inline-block;
    
}
/* Msg Content Styles */
.backdrop>.content{
    text-transform: uppercase;
    color: #555;
    background-color: white;
    border-radius:25%;
    padding: 20px;
    height: 20rem;
    width: 30rem;
}
.content>form>button{
    margin: 0px;
    padding: 0px;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1rem;
    
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: white;
    width: 30rem;
    display: block;
}
.content>form>a{
    border-radius: 20%;
    
    background-color: white;
    display: block;
}
a { 
    color: inherit;
 } 
 .content.bigger{
    padding: 10px;
    height: 30rem;
    width: 40rem;
}
.content.bigger>*>input{
  
    margin: 1px;
    padding: 5px 3px;
    width: 40rem;
    
}
.content.bigger>*>label{
    color: #aaa;
    display: inline-block;
    margin: 2px 0 2px;
    font-size: 0.9em;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
}
.content.bigger>*>button{
    margin-top: 30px;
    width: 40rem;
}
/* Forms Styles */
form{
    max-width: 420px;
    margin: 10px ;
    text-align: left;
    padding: 40px;
    border-radius: 10px;
}
label{
    color: #aaa;
    display: inline-block;
    margin: 5px 0 15px;
    font-size: 0.9em;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
}
input{
    display: block;
    padding: 10px 6px;
    width: 30rem;
    box-sizing: border-box;
    border: none;
    border-bottom:1px solid #ddd ;
    color: #555;
}
*>*>form{
    margin:0px;
    padding:0px;
    width: 15rem;
}
div.item.add-payment>form>*{

    display: block;

}
div.item.add-payment>h1{

    background-color: #00d9ff9f;
}
div.item.add-payment>h1{
    margin-bottom:10px;
}
div.item.add-payment{
    min-height: 15rem;
    height: auto;

}
div.item.add-payment>form>button{
    margin-top: 4px;
    position: relative;
    left: 5rem;
    margin: 1px;
    padding: 5px 3px;
    background-color: white;
    width: 10rem;
}
div.item.add-payment>form>input{
    width: 20rem;
}
/* List Styles */
ul{
    position: relative;
    left: 4rem;
    max-width: 90vw;
    margin: 10px;
    padding: 0px;
}

ul>*{
   
    border: 2px solid #929292;
    list-style-type: none;
    text-align: start;
    margin: 0px ;
}
ul>li>form{
    max-width: 90vw;
}
li>form>input{
    width: 10rem;
 
}
ul>li{
    max-width: 90vw;
}
li>form>*{
    max-width: 10vw;
    margin:5px 5vw;
    display: inline-block;
}
